// 
// PicoTorrent
// Version: 0.5.6
//
@import "bootstrap-reboot.min";

// Colors
$blue      : #179ad7;
$blue-light: #63c5e6;
$blue-dark : #007ED3;

// Navbar
$navbar-padding: 1rem;
$navbar-color  : $blue;

// Container
$container-max-width: 1100px;

// HTML / Body
html,
body {
  margin     : 0;
  padding    : 0;
  font-family: 'Segoe UI Light', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  overflow-x : hidden;
  font-size  : 16px;
}

// HTML Elements
a {
  color     : $blue;
  transition: color .35s ease;
  &:hover {
    color: $blue-light;
  }
}

h1, h2, h3, h4, h5, h6,
.btn {
  font-family: 'Segoe UI SemiBold', -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
}

img {
  max-width: 100%;
}

// Navbar
.navbar {
  padding: 2rem 0;
  // Cotainer
  .container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
  }
  // Logo
  .brand {
    width          : 32px;
    height         : 32px;
    background     : url('../brand/logo.svg') center no-repeat;
    background-size: 100%;
    font-size      : 0;
    transition     : all .35s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
  // Navigation
  ul {
    display    : flex;
    align-items: center;
    list-style : none;
    margin     : 0;
    padding    : 0;
    li {
      a {
        color          : $blue;
        padding        : 1rem .75rem;
        text-decoration: none;
        font-size      : 14px;
        font-weight    : 500;
        font-family    : 'Segoe UI SemiBold', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
        transition     : all .35s ease;
        &:hover {
          opacity: .65;
        }
      }
    }
  }
  // Icons
  svg {
    margin-left: .25rem;
    height     : 8px;
    fill       : $blue;
  }
}

.container {
  margin   : 0 auto;
  padding  : 0 1rem;
  max-width: $container-max-width;
  @media (min-width: 768px) {
    padding: 0 2rem;
  }
  @media (min-width: 1200px) {
    width: 100%;
  }
}

.lead {
  font-size    : 115%;
  margin-bottom: 2rem;
}

.btn {
  display        : inline-flex;
  padding        : 0.5rem 1.5rem;
  background     : $blue;
  border         : 2px solid $blue;
  border-radius  : 4px;
  color          : white;
  font-weight    : 500;
  font-size      : 14px;
  text-decoration: none;
  transition     : background-color .35s ease, border-color .35s ease, transform .35s ease;
  svg {
    width          : 20px;
    height         : 20px;
    margin-right   : 1rem;
    object-fit     : cover;
    object-position: center;
    path {
      fill: white;
      transition: fill .35s ease, transform .35s ease;
    }
  }  
  // State: Hover
  &:hover {
    opacity  : .85;
    transform: scale(1.05);
    cursor: pointer;
    cursor: hand;
  } 
  // Variant: White
  &.white {
    color       : $blue;
    background  : white;
    border-color: white;
    path {
      fill: $blue;
    }
  }  
  // Variant: Gradient
  &.gradient {    
    background: linear-gradient(0deg, $blue, $blue-light);
  }
  // Variant: Outline
  &.outline {
    color       : white;
    border-color: white;
    background  : transparent;
    path {
      fill: white;
    }
    &:hover {
      background: white;
      color     : $blue;
      path {
        fill: $blue;
      }
    }
  }
}

.row {
  display  : flex;
  flex-wrap: wrap;
  margin   : 0 -1rem;
  .col {
    padding: 1rem;
    flex   : 1;
  }
}

.social {
  display    : flex;
  align-items: center;
  a {
    text-decoration: none;
    margin-right   : 1rem;
    transition     : all .35s ease;
    &:hover {
      opacity  : .75;
      transform: scale(1.2);
    }
    &:last-child {
      margin-right: 0;
    }
    .icon {
      width          : 22px;
      height         : 22px;
      object-fit     : cover;
      object-position: center;
    }
  }
}

// Sections
main {
  display    : flex;
  align-items: center;
  min-height : 100vh;
  background : linear-gradient(0deg, $blue-dark, $blue, $blue-light);
  position   : relative;
  overflow   : hidden;
  color      : white;
  .container {
    position: relative;
    .content {
      padding  : 6rem 0 3rem;
      width    : 100%;
      max-width: 100%;
      margin   : 0 auto;
      @media (min-width: 1200px) {
        max-width: 500px;
        margin   : 0;
      }
    }      
    .buttons {
      margin-top: 3rem;
      .btn {
        margin-bottom: .5rem;
        margin-right : .75rem;
        transition   : all .35s ease;        
        @media (max-width: 485px) {
          width          : 100%;
          justify-content: center;
        }
        &:last-child {
          margin-right: 0;  
        }
      }
    }
  }

  .social {
    margin-top: 3rem;
  }

  .preview {
    display   : none;
    position  : absolute;
    width     : 70vw;
    max-width : 100%;
    bottom    : 0;
    right     : 0;
    transform : translate(35%, 0);
    z-index   : 0;
    box-shadow: -2rem 2rem 8rem -2rem darken($blue-dark, 15%);
    @media (min-width: 1200px) {
      display: block;
    }
    @media (min-width: 1800px) {
      width    : 57vw;
      transform: translate(25%, 0);
    }
    &.now {
      width    : 45vw;
      transform: translate(-5%, -5%);
      @media (min-width: 1800px) {
        width: 40vw;
      }
    }
  }
}

// Card
.card {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  max-width     : 500px;
  border        : 1px solid #CCC;
  border-radius : 1rem;
  overflow      : hidden;
  margin-bottom : 1rem;
  .content {
    padding: 1rem;
  }
}

// Modal
.modal {
  position       : fixed;
  top            : 50%;
  left           : 50%;
  padding        : 2rem;
  background     : rgba(235,235,235, 0.75);
  backdrop-filter: blur(15px);
  display        : block;
  border         : 1px solid #AAA;
  border-radius  : 1rem;
  box-shadow     : 0 1rem 2rem -1rem rgba(black, 0.35);
  transform      : translate(-50%, -50%);
  transition     : opacity .35s ease;
  &:not(.show) {
    opacity       : 0;
    pointer-events: none;
  }
}

// Section
section {
  padding-bottom: 3rem;
  svg {
    width        : 64px;
    height       : 64px;
    margin-bottom: 1rem;
    path {
      fill: $blue;
    }
  }
  .row {
    margin-bottom: 2rem;
  }
  .preview {
    width     : 100%;
    max-width : 865px;
    display   : block;
    margin    : 0 auto;
    border    : 1px solid #999;
    box-shadow: 0 1rem 2rem -1rem rgba(black, 0.3);
    &.gif {
      max-width: 650px;
    }
  }
  .caption {
    display   : block;
    text-align: center;
    margin    : 1rem 0 2rem;
  }
}

// Footer
footer {
  border-top: 1px solid #CCC;
  .container {
    padding-top    : 1rem;
    padding-bottom : 1rem;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    @media (max-width: 768px) {
      justify-content: center;
    }
    svg {
      path {
        fill: #222;
      }
    }
    span {
      font-size: 85%;
      @media (max-width: 768px) {
        flex: 1;
      }
      @media (max-width: 500px) {
        margin-bottom: 1rem;
        text-align   : center;
        flex         : 1 1 100%;
      }
      .brand {
        font-family: 'Segoe UI SemiBold', -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
      }
    }
  }
}

// Pages
// Page: Index
.page-index {
  // Navbar
  .navbar {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 999;
    // Brand
    .brand {
      background: url('../brand/logo-white.svg') center no-repeat;
    }
    // Navigation
    ul {
      li {
        a {
          color: white;
        }
      }
    }
    // Icons
    svg {
      fill: white;
    }
  }
  // Row
  .row {
    .col {
      min-width: 300px;
    }
  }
  // Section
  section {
    padding: 3rem 0;
  }
}

// Page: Download
.page-download {
  .files {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    margin-bottom : 1rem;
    .file {
      position       : relative;
      display        : flex;
      align-items    : center;
      padding        : 0.35rem 1rem;
      margin-bottom  : 0.3rem;
      text-decoration: none;
      font-size      : 0.9rem;
      font-family    : 'Segoe UI SemiBold', Tahoma, Geneva, Verdana, sans-serif;
      transition     : all .35s ease;
      &::after {
        content      : "";
        display      : block;
        position     : absolute;
        top          : 0;
        left         : 0;
        right        : 0;
        bottom       : 0;
        opacity      : 0;
        background   : linear-gradient($blue-light, $blue);
        border-radius: 99rem;
        z-index      : -1;
        transition   : all .35s ease;
      }
      &::before {
        content      : "";
        display      : block;
        width        : 16px;
        height       : 16px;
        margin-bottom: -2px;
        margin-right : 0.5rem;
        background   : url('../brand/logo.svg') center no-repeat;
        transition   : all .35s ease;
      }
      &:hover {
        color: white;
        &::after {
          opacity: 1;
        }
        &::before {
          background-image: url('../brand/logo-white.svg');
        }
      }
    }    
  }
  img {
    display   : block;
    margin    : 2rem auto;
    box-shadow: 0 1rem 2rem -1rem rgba(black, 0.25);
  }
}

// Pages: Shop
.page-shop {
  .row {
    margin: 0;
    .col {
      display    : flex;
      flex-wrap  : wrap;
      align-items: stretch;
      padding    : 0;
      &:first-child,
      &:last-child {
        max-width: 50px;
      }
      button {
        display        : flex;
        width          : 100%;
        justify-content: center;
        padding        : .5rem 0;
        border-radius  : 0;
        &:hover {
          transform: none;
        }
        svg {
          margin: 0;
        }
        &[disabled] {
          opacity       : .65;
          pointer-events: none;
        }
      }
      input {
        display      : flex;
        flex         : 1 1 100%;
        max-width    : 100%;
        text-align   : center;
        padding      : 0 1rem;
        border       : 1px solid $blue;
        border-radius: 0;
      }
    }
  }
  .card {
    .content {
      padding: 2rem;
    }
    img {
      object-fit     : cover;
      object-position: center;
      max-height     : 350px;
    }
    .btn-buy {
      margin-top     : 0.5rem;
      width          : 100%;
      justify-content: center;
    }
  }
}