name: Publish Docker image

on:
  push:
    branches:
      - '**'
  pull_request:
  release:

jobs:
  push_to_registry:
    name: Push Docker image to registry
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: docker.pkg.unidentifieddeveloper.com/picotorrent/peach
          tag-semver: |
            {{version}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.unidentifieddeveloper.com
          username: ${{ secrets.UD_DOCKER_REGISTRY_USER }}
          password: ${{ secrets.UD_DOCKER_REGISTRY_PWD }}

      - name: Push image
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
