name: Publish Docker image

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.UD_DOCKER_REGISTRY_USER }}
          password: ${{ secrets.UD_DOCKER_REGISTRY_PWD }}
          registry: ${{ secrets.UD_DOCKER_REGISTRY_URL }}
          repository: picotorrent/peach
          tag_with_ref: true
